---
---

@import "{{ site.theme }}";

#topline {
  .logo {
    display: inline-block;
    img { height: 120px; }
  }

  .title {
    display: inline-block;
    padding-left: 12px;
    position: relative;
    bottom: 30px;

    h1 {
      font-family: 'Urbanist', 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 500;
      font-optical-sizing: auto;
      font-style: normal;
      font-size: 36px;
    }
  }
}

section#main {
  margin-top: 20px;
  padding-top: 0px;
}

.img-caption {
  padding-bottom: .5em;

  .caption {
    font-style: italic;
    color: #aaa;
  }
}

.slick-dots {
  bottom: -30px;;

  li button:before,
  li.slick-active button:before {
    color: transparent;
    opacity: 1;
  }
  li button:before{
    background-color: transparent;
    border: 2px solid #f0e7d5;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;

  }
  li.slick-active button:before {
    background-color: #f0e7d5;
  }
}
