---
---

@import "{{ site.theme }}";

#header {
  nav {
    background: transparent;
  }
}

#topline {
  padding-bottom: 30px;

  img {
    float: left;
    width: 50px;
  }

  h1 {
    position: relative;
    top: 12px;
    left: 20px;
  }
}

section {
  margin-top: 0px;
}

@media print, screen and (max-width: 480px) {
  nav {
    display: none;
  }
}